/* Variables e Inicializaciones */

:root {
	/* Colores */
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--orange: #ff9536;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black-1: #282623;
	--warm-black-2: #201e1c;
	--grey-1: #bababa;
	--grey-2: #757575;
	--off-white: #faf8f7;
	--just-white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
}

/* Encabezado (header) */

.header {
	text-align: center;
	width: 100%;
	min-width: 320px;
	height: 295px;
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__logo {
	width: 150px;
	height: 24px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.main-text-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
}

.main-text-container__title {
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 26px;
}

.main-text-container__subtitle {
	margin-top: 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 18px;
}

.main-text-container__title--just-white-color {
	color: var(--just-white);
}

.main-text-container__subtitle--soft-orange-color {
	color: color: var(--soft-orange);
}

.dropdown-button {
	padding: 15px;
	width: 229px;
	height: 48px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	background-color: var(--off-white);
	
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 18px;
	color: var(--warm-black-1);
	text-decoration: none;
}

.dropdown-button--pos-in-header {
	position: absolute;
	top: 271px;
	left: calc(50% - 115px);	
}

.dropdown-button__icon {
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url("./assets/icons/black-arrow.svg");
}

.main {
	width: 100%;
	height: auto;
	background-color: red;
}

.main-section {
	width: 100%;
	height: auto;
	padding-top: 70px;
	padding-bottom: 30px;
	text-align: center;
}

.main-section--off-white-color {
	background-color: var(--off-white);
}

.main-section__decorative-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-image: url("./assets/imgs/bitcoin.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 40px;
}

.main-text-container__title--warm-black-1-color {
	color: var(--warm-black-1);
}

.main-text-container__subtitle--grey-2-color {
	color: var(--grey-2);
}

.table-section__title--orange-color {
	color: var(--orange);
}

.table-section__title--secundary-blue-color {
	color: var(--secondary-blue);
}